<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer Page</title>
</head>
<body>
<form action="/saveData" method="post">
<table align="center">
<tr>
<th colspan="2" style="padding:20px; color: Tomato">Customer Registration</th>
 </tr>
<tr>
<td>Mobile Number</td>
<td><input type="text" name="mobile" placeholder="mobileNumber"/></td>
</tr>
<tr>
<td>Name</td>
<td><input type="text" name="name" placeholder="name"/></td>
</tr>
<tr>
<td><input  type="submit" value="Submit"/></td>
</tr>
</table>
</form>
</body>
</html>