<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lunch Menu Page</title>
</head>
<body>
<form action="/calculations">
<h3 style="color: Tomato">Lunch Menu List</h3>
	<table border="1" width="30%" height="30%">
		
			<tr>
				<th><font  color='Yellow'>Id</font></th>
				<th><font color='Green'>Name</font></th>
				<th><font color='Red'>Price</font></th>
				<th><font color='Pink'>Select</font></th>
			</tr>
			
		<tbody>
			<tr th:each="lunchMenu : ${lunchList}">
				<td th:text="${lunchMenu.id}"></td>
				<td th:text="${lunchMenu.name}"></td>
				<td th:text="${lunchMenu.price}"></td>
				
             <td><input type="checkbox" name="selected1" th:value="${lunchMenu.id}"></td>

			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="Submit"></input></td>
			   <td colspan="3"><input type="reset" value="Reset"></input></td>
				
			</tr>
		</tbody>
	</table>
</form>
</body>
</html>